/* FONTS */
@font-face {
    font-family: federation;
    src: url(../assets/FEC_____.TTF);
}

@font-face {
    font-family: vcr;
    src: url(../assets/VCR_OSD_MONO_1.001.ttf);
}

.title-style,
.modal-title,
.rules-win,
.mode-title,
.instructions,
.ending-text,
.roundOutcome {
    font-family: federation;
}

.button-style, 
.player-text,
.rules-text,
.bestOfTxt,
.option-text,
.counter-style{
    font-family: vcr;
}

/* BASIC BUTTON STYLE */
.button-style{
    color: white;
    background-color: #1F1B26;
    border-radius: 15px;
}

/* CURSOR POINTER STYLE */
.cursor {
    cursor: pointer;
}

/* RULES BTN/MODAL STYLES*/
.rules-btn {
    font-size: 40px;
    padding-left: 50px;
    padding-right: 50px;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    position: absolute;
    right: 5%;
    --bs-btn-padding-x: 0px;
    --bs-btn-padding-y: 0px;
    z-index: 1000;
}

/* COUNTER STYLE */
.counter-style{
    font-size: 40px;
    color: white;
    position: absolute;
    right: 5%;
    top: 12%;
}

.modal-content{
    background-color: #180D38;
}

.modal-title{
    font-size: 65px !important;
    color: white;
}

.rules-text {
    font-size: 26px;
    color: white !important;
    line-height: 1em;
}

.rules-player{
    font-size: 33px;
}

.rules-win{
    font-size: 55px;
    color: white;
}

.modal-header .btn-close {
    margin: calc(-.5 * var(--bs-modal-header-padding-y)) calc(var(--bs-modal-header-padding-x)) calc(-.5 * var(--bs-modal-header-padding-y)) auto;
}


/* HOME PAGE STYLES */
.homeBG {
    background: url(../assets/e99d9e94fc89c70ef8d79bf80d7c96e0.jpg) no-repeat bottom center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.title-style {
    font-size: 120px;
    color: white;
    position: absolute;
    top: 10%;
    left: 8%;
}

.title-style span{
    background-color: red;
}

.top-padding{
    padding-left: 60px;
    padding-right: 15px;
}

.bottom-padding{
    margin-left: 55px;
    padding-left: 5px;
    padding-right: 70px;
}

.play-btn{
    font-size: 55px;
    position: absolute;
    bottom: 15%;
    right: 15%;
    padding-left: 60px;
    padding-right: 60px;
    display: flex;
    align-items: center;
    --bs-btn-padding-x: 0px;
    --bs-btn-padding-y: 0px;
}

/* PLAYER PAGE STYLES */
.playerBG{
    background: url(../assets/d2etd08-b26af376-12a3-40f4-aa6d-19cbd018247f.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.player-text{
    font-size: 70px;
    color: white;
    line-height: 1.1em;
}

.player-col-1,
.player-col-2{
    height: 100vh;
    position: relative;
}

.opacity{
    opacity: .7;
}

.opacity:hover {
    opacity: 1;
}

.player-col-1:hover{
    background-color: rgba(5, 0, 33, .65);
    opacity: 1;
}

.player-col-2:hover{
    background-color: rgba(26, 1, 1, .65);
    opacity: 1;
}

.single-position,
.multi-position{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* MODE PAGE STYLES */
.modeBG {
    background: url(../assets/modeBG.png) no-repeat top center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.mode-title{
    color: white;
    font-size: 100px;
    position: absolute;
    top: 8%;
    left: 9%;
}

.mode-title span {
    background-color: black;
    padding-left: 15px;
    padding-right: 85px;
}

.bestOfTxt {
    color: white;
    font-size: 75px;
}

.bestOfBlock{
    width: 1300px;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* GAMEPLAY PAGE STYLE */
.gameBG {
    background: url(../assets/bg3.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.instructions {
    color: white;
    font-size: 120px;
    position: absolute;
    top: 8%;
    left: 5%;
}

.roundOutcome {
    color: white;
    font-size: 100px;
    position: absolute;
    top: 8%;
    width: 95vw;
    line-height: 1.1em;
}

.blackLine {
    background-color: black;
    padding-left: 10px;
    padding-right: 10px;
}

.red{
    color: red;
}

.green{
    color: #24FF00;
}

.redLine{
    background-color: red;
    padding-left: 10px;
    padding-right: 10px;
}

.blue{
    color: blue;
}

.blueLine{
    background-color: blue;
    padding-left: 10px;
    padding-right: 10px;
}

.option-text{
    color: white;
    font-size: 60px;
}

.options-block {
    width: 100vw;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.dropshadow {
    -webkit-filter: drop-shadow(20px -20px 2rem #000000);
     filter: drop-shadow(12px 0px 8px #000000);
}

.next-btn{
    font-size: 43px;
    position: absolute;
    bottom: 10%;
    right: 8%;
    padding-left: 60px;
    padding-right: 60px;
    display: flex;
    align-items: center;
    --bs-btn-padding-x: 0px;
    --bs-btn-padding-y: 0px;
}

/* ENDING PAGE STYLE */
.p1winBG {
    background: url(../assets/bg8.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.p2winBG {
    background: url(../assets/588210.jpg) no-repeat top center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.ending-text {
    font-size: 100px;
    color: white;
    position: absolute;
    bottom: 33%;
    left: 9%;
    line-height: 1.1em;
}

.score-text {
    background-color: rgba(252, 252, 255, 0.65);
    margin-left: -30px;
    padding-left: 30px;
    padding-right: 30px;
}

.menu-btn{
    font-size: 43px;
    position: absolute;
    bottom: 10%;
    right: 8%;
    padding-left: 40px;
    padding-right: 40px;
    display: flex;
    align-items: center;
    --bs-btn-padding-x: 0px;
    --bs-btn-padding-y: 0px;
}